<div class="row abtUs">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h1 class="text-center">About US :</h1>
        <p>We are regular IID2 (Informatique et Ingénierie des Données) students at ENSA Khouribga, we were tasked with building this project in less than 2 weeks time, including time to learn technologies used such as AngularJS &amp; NodeJS.
            <br>Our project made it this far to prove what we are capable of. This was a mission impossible, made possible.</p>
    </div>
    <div class="col-md-2">
        <img src="../images/logos/logof-dark.png" width="75%" height="auto" alt="VBOT - not impossible">
    </div>
    <div class="col-md-1"></div>
</div>
<div class="teamSec">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Our <strong>Team</strong></h2>
            <p class="lead">"The greater the obstacle, the more glory in overcoming it." <span class="color">– Molière</span></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-1"></div>
        <div class=" col-md-10">
            <div class="row">
                <div class="team col-md-3"></div>
                <div class="team col-md-3">
                    <div class="team-container ">
                        <div class="team-image">
                            <img src="../images/team/alias.png" class="img-responsive" alt="#" />
                        </div>
                        <div class="team-caption">
                            <div>
                                <div>
                                    <ul>
                                        <li class="social-icon"><a href="https://github.com/ELilyasamrani/" target="_blank"><i class="fa-brands fa-github gtb"></i></a></li>
                                        <li class="social-icon"><a href="https://www.instagram.com/elamranilyas/" target="_blank"><i class="fa-brands fa-instagram ig"></i></a></li>
                                        <li class="social-icon"><a href="https://www.linkedin.com/in/ilyas-el-amrani/" target="_blank"><i class="fa-brands fa-linkedin lknd"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>El Amrani Ilyas</h5>
                    <p>|&emsp;2nd Data and Software Engineering Student @ ENSA Khouribga.</p>
                </div>
                <div class="team col-md-3">
                    <div class="team-container">
                        <div class="team-image">
                            <img src="../images/team/jmed.jpg" class="img-responsive" alt="#" style="width:220px;" />
                        </div>
                        <div class="team-caption">
                            <div>
                                <div>
                                    <ul>
                                        <li class="social-icon"><a href="https://github.com/ElJaouhariMohamed" target="_blank"><i class="fa-brands fa-github gtb"></i></a></li>
                                        <li class="social-icon">
                                            <a href="https://www.instagram.com/mohamed_ejr/" target="_blank"> <i class="fa-brands fa-instagram ig"></i></a>
                                        </li>
                                        <li class="social-icon"><a href="https://www.linkedin.com/in/mohamed-el-jaouhari-100027231/" target="_blank"><i class="fa-brands fa-linkedin lknd"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5>El Jaouhari Mohamed</h5>
                    <p>|&emsp;2nd Data and Software Engineering Student @ ENSA Khouribga.</p>
                </div>
                <div class="team col-md-3"></div>
            </div>
        </div>
        <div class=" col-md-1"></div>
    </div>
    <hr>
</div>