<div class="row expose1">
    <div class="col-md-6">
        <img src="../images/backgrounds/bg-1.jpg" alt="ChatbotImg1" width="100%" height="auto">
    </div>
    <div class="col-md-6">
        <p class=" description">
            VBot is a chatbot to help ENSA Khouribga and staff to find information easily, at the tip of their finger, it is designed to communicate effictively and practicaly with the various vistors of the website, in a fast and secure manner.</p>
    </div>
</div>
<div class="row expose2">
    <div class="col-md-6">
        <p class="description font-effect-outline">This chatbot is actually at version 1, it was trained to answer various prompts and help the users find the information they are looking for, it is capable to :</p>
        <ul>
            <li>Chat with users on ENSA Khrouribga related subjects.</li>
            <li>Provide information with high precision.</li>
            <li>It is human friendly, respectful and non-biaised against any human category.</li>
        </ul>
    </div>
    <div class="col-md-6">
        <img src="../images/backgrounds/bg-2.jpg" alt="ChatbotImg2" width="100%" height="auto">
    </div>
</div>
<div class="row abtProj">
    <div class="col-md-8">
        <h1 class="text-center"> About The Project </h1>
        <p>This project was developed in a total duration of 5 days, including 2 days to learn technologies used.</p>
        <p>This project is was a challenge to develop and implement in all sides, but with tean work, seriousness and the will to learn, against all odds, we decided to develop this project.</p>
        <p>"This project is proof that ENSA Khouribga's student are capable and powerful, practical and don't relly on any singular source of information, very creative and love a hard challenge." <em><br>- <a href="#!about">Ilyas El Amrani</a>, Team member & IID2 student.</em></p>
        <p>"This project is a testament to the capabilities and strength of ENSA Khouribga's students. They have showcased their practical skills and independence, not relying solely on any single source of information. Their creativity shines through, and
            they embrace difficult challenges with enthusiasm."<em><br> <a href="#!about">- Mohamed El Jaouhari</a>, Team member & IID2 student.</em></p>
        <p>We want to salute all ENSA Khouribga's students and say that you're respected, appreciated and valued by all, and thet any past incident was only a singular occurence, that stood to challenge and prove these facts.</p>
    </div>
    <div class="col-md-4">
        <img src="../images/logos/LOGO-ENSAK.png" alt="ENSAKH" width="75%" height="auto">
    </div>
</div>